{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block staff %}
    <div style="max-width: 1200px; margin: 0 auto">
        <h1>list of merchandise (click to update)</h1>
        {% include 'messages_inclusion.html' %}
        {% for merchandise in merchandises %}
            <div>
                <a href="{% url 'shop:update_merchandise' merchandise.id %}">
                    <div>item: {{ merchandise.name }}</div>
                    <div>stock: {{ merchandise.stock }}</div>
                    <div>unit price: {{ merchandise.price }}</div>
                </a>
                    <button onclick="location.href='{% url 'shop:update_merchandise' merchandise.id %}'">PRESS TO CHANGE DATA</button>
                <br><br>
            </div>
        {% endfor %}

    </div>
{% endblock %}

</body>
</html>